/* 숨기고 싶은 요소가 있다면 이 classname 추가 */
.hidden {
    display: none;
}


/* 사진 대신 배경 이미지 넣고 싶을 경우 */
.img {
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:80%;
}